@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}

:root{
    --cor1:var(--cor1):#13131f;
    --cor2:var(--cor2):#8257e6;

}

body{
    transition: 0.2s linear;
    background-color: #13131f;
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 22px 0px;
    border-bottom: 2px solid #8257e6;
    padding-left: 35px;
}

header h1{
    color: white;
    font-size: 1.4em;
    font-weight: bolder;
}

header .fa-bars{
    color: #8257e6;
    cursor: pointer;
}

.typing {
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  font-size: 2em;
  font-weight: 500;
  animation: typing 4s; /* Defina a contagem de iteração como 1 */
}


.myname {
  overflow: hidden; /* Oculta o texto original */
  margin: 0; /* Remove as margens padrão */
  font-size: 2em; /* Define o tamanho da fonte */
  font-weight: 500; /* Define a espessura da fonte */
  white-space: nowrap;
  opacity: 0; /* Torna o nome invisível */
  animation: complement 2s steps(100, end), blink .75s step-end infinite; /* Aplica a animação de complemento e o cursor */
  animation-delay: 1.80s; /* Adiciona um atraso de 2 segundos */
}

.myname.show {
  opacity: 1; /* Mostra o nome após o atraso */
}

.dev.mostrar{
  opacity: 1;
}

.dev {
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  opacity: 0;
  font-size: 1.2em;
  font-weight: 300;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  animation: typing 4s 1 steps(40);
  animation-delay: 3.6s;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}



@keyframes complement {
  from { width: 0 } /* Inicia com largura 0 */
  to { width: 100% } /* Termina com largura 100% */
}


@keyframes typing {
  from { width: 0 } /* Inicia com largura 0 */
  to { width: 100% } /* Termina com largura 100% */
}

/* Estilo do texto "Desenvolvedor Front-End" */
p {
  font-size: 1.5em; /* Define o tamanho da fonte */
  font-weight: 300; /* Define a espessura da fonte */
  margin-top: 0; /* Remove a margem superior */
}


.toggle-switch {
    position: relative;
    width: 50px;
    height: 25px;
    --light: #d8dbe0;
    --dark: #28292c;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
  }
  
  .switch-label {
    position: absolute;
    width: 100%;
    height: 25px;
    background-color: #13131f;
    border-radius: 12.5px;
    cursor: pointer;
    border: 1.5px solid #8257e6;
  }
  
  .checkbox {
    position: absolute;
    display: none;
  }
  
  .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 12.5px;
    -webkit-transition: .3s;
    transition: .3s;
  }
  
  .checkbox:checked ~ .slider {
    background-color: var(--light);
  }
  
  .slider::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-box-shadow: inset 7px -2px 0 0 var(--light);
    box-shadow: inset 7px -2px 0 0 var(--light);
    background-color: var(--dark);
    -webkit-transition: .3s;
    transition: .3s;
  }
  
  .checkbox:checked ~ .slider::before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
    background-color: var(--dark);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
 .paragrafo{
  display: flex;
  justify-content: center;
 }
  .first img{
    display: block;
    margin: 0 auto;
    width: 350px;
    padding: 0;
  }

  .first h1{
    max-width: 350px;
    margin: 0 auto;
    color: white;
    font-size: 2.6em;
    text-align: center;
  }

  .first h1 span{
    color: #8257e6;
  }

  .first p{
    text-align: center;
    color: #828282;
    padding: 20px 0px;
  }

  .botoes{
    display: flex;
    justify-content: center;
    gap: 18px;
  }
  .botao{
    display: flex;
    justify-content: center;
    padding: 10px 0px;
  }
  button {
    position: relative;
    padding: 1em 1.8em;
    outline: none;
    border: 1px solid #303030;
    background: #13131f;
    color: #8257e6;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
   }
   
   button:hover {
    box-shadow: 0 0 10px #8257e6, 0 0 25px #001eff, 0 0 50px #8257e6;
    transition-delay: 0.6s;
   }
   
   button span {
    position: absolute;
   }
   
   button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #8257e6);
   }
   
   button:hover span:nth-child(1) {
    left: 100%;
    transition: 0.7s;
   }
   
   button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #001eff);
   }
   
   button:hover span:nth-child(3) {
    right: 100%;
    transition: 0.7s;
    transition-delay: 0.35s;
   }
   
   button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #8257e6);
   }
   
   button:hover span:nth-child(2) {
    top: 100%;
    transition: 0.7s;
    transition-delay: 0.17s;
   }
   
   button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #001eff);
   }
   
   button:hover span:nth-child(4) {
    bottom: 100%;
    transition: 0.7s;
    transition-delay: 0.52s;
   }
   
   button:active {
    background: #8257e6;
    background: linear-gradient(to top right, #8257e6, #001eff);
    color: #bfbfbf;
    box-shadow: 0 0 8px #8257e6, 0 0 8px #001eff, 0 0 8px #8257e6;
    transition: 0.1s;
   }
   
   button:active span:nth-child(1) 
   span:nth-child(2) 
   span:nth-child(2) 
   span:nth-child(2) {
    transition: none;
    transition-delay: none;
   }
   

  .segund h1{
    color: white;
    font-size: 2em;
    text-align: center;
    padding: 20px 0px;
  }

  .segund p{
    color: #828282;
    text-align: justify;
    font-size: 0.9em;
    margin: 0 auto;
    padding: 0 15px;
  }

.third h1{
  color: white;
  font-size: 2em;
  text-align: center;
  padding: 20px 0px;
}

h1#title{
  color: white;
  font-size: 2em;
  text-align: center;
  padding: 20px 0px;
}

.allskills{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  padding: 50px 0px;
}

.allskills h1{
  font-size: 1em;
  color: #8257e6;
  font-weight: 900;
}

.allskills img{
  display: block;
  margin: 0 auto;
}

.third div#skills{
  width: 140px;
  height: 150px;
  background: #212121;
  border-bottom: 4px solid #8257e6;
  border-radius: 30px 0px 0px 0px;
}

/* Define a animação */

.allskills > div {
  animation: slide-in 1s ease-out forwards;
  transform: translateX(0%);
}

.allskills {
  display: flex;
  justify-content: center;
  opacity: 0;
  transform: translateX(-70%);
  transition: opacity 2s ease-out, transform 2s ease-out;
}

.allskills.visible {
  opacity: 1;
  transform: translateY(0%);
}



