@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}

:root{
    --cor1:var(--cor1):#13131f;
    --cor2:var(--cor2):#8257e6;

}

.light-theme{
  background-color: #d8dbe0;
}

.dark-theme{
  background-color: #13131f;
}

body{
    transition: 0.2s linear;
    background-color: #13131f;
    height: 100vh;
    overflow-x: hidden;
    
}

header{
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color:#13131f ;
  padding: 5px;
  width: 100%;
  border-bottom: 4px solid #8257e6;
  border-top: 4px solid #8257e6;
}

.menu{
  display: none;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  position: absolute;
  top: 200%;
  left: -430%;
  font-size: 2em;
  margin: 0 auto;
  opacity: 0;
  transform: translateX(-20%);
}

.menu.animate{
  opacity: 1;
  transform: translateX(0%);
}


 a{
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
  color: #8257E6;
  margin-top: 20px;
}

header h1{
    color: white;
    font-size: 1.4em;
    font-weight: bolder;
}

header .fa-bars{
  font-size: 1rem;
  color: #8257E6;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
}

.fa-xmark{
  font-size: 1.1rem;
  color: #8257E6;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
}

.fa-xmark{
color:#13131f ;
background-color: #8257e6;
border-radius: 10px;
padding: 0.5rem;
border-radius: 50%;
}

header .fa-bars:hover{
color:#13131f ;
background-color: #8257e6;
border-radius: 10px;
padding: 0.5rem;
border-radius: 50%;
}

.typing {
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  font-size: 2em;
  font-weight: 500;
  animation: typing 4s; /* Defina a contagem de iteração como 1 */
}


.myname {
  overflow: hidden; /* Oculta o texto original */
  margin: 0; /* Remove as margens padrão */
  font-size: 2em; /* Define o tamanho da fonte */
  font-weight: 500; /* Define a espessura da fonte */
  white-space: nowrap;
  opacity: 0; /* Torna o nome invisível */
  animation: complement 2s steps(100, end), blink .75s step-end infinite; /* Aplica a animação de complemento e o cursor */
  animation-delay: 1.80s; /* Adiciona um atraso de 2 segundos */
}

.myname.show {
  opacity: 1; /* Mostra o nome após o atraso */
}

.dev.mostrar{
  opacity: 1;
}

.dev {
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  opacity: 0;
  font-size: 1.2em;
  font-weight: 300;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  animation: typing 4s 1 steps(40);
  animation-delay: 3.6s;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}



@keyframes complement {
  from { width: 0 } /* Inicia com largura 0 */
  to { width: 100% } /* Termina com largura 100% */
}


@keyframes typing {
  from { width: 0 } /* Inicia com largura 0 */
  to { width: 100% } /* Termina com largura 100% */
}

/* Estilo do texto "Desenvolvedor Front-End" */
p {
  font-size: 1.5em; /* Define o tamanho da fonte */
  font-weight: 300; /* Define a espessura da fonte */
  margin-top: 0; /* Remove a margem superior */
}


.toggle-switch {
    position: relative;
    width: 50px;
    height: 25px;
    --light: #d8dbe0;
    --dark: #28292c;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
  }
  
  .switch-label {
    position: absolute;
    width: 100%;
    height: 25px;
    background-color: #13131f;
    border-radius: 12.5px;
    cursor: pointer;
    border: 1.5px solid #8257e6;
  }
  
  .checkbox {
    position: absolute;
    display: none;
  }
  
  .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 12.5px;
    -webkit-transition: .3s;
    transition: .3s;
  }
  
  .checkbox:checked ~ .slider {
    background-color: var(--light);
  }
  
  .slider::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-box-shadow: inset 7px -2px 0 0 var(--light);
    box-shadow: inset 7px -2px 0 0 var(--light);
    background-color: var(--dark);
    -webkit-transition: .3s;
    transition: .3s;
  }
  
  .checkbox:checked ~ .slider::before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
    background-color: var(--dark);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
 .paragrafo{
  display: flex;
  justify-content: center;
 }
  .first img{
    display: block;
    margin: 0 auto;
    width: 350px;
    padding-top: 35px;
  }

  .first h1{
    max-width: 350px;
    margin: 0 auto;
    color: white;
    font-size: 2.6em;
    text-align: center;
  }

  .first h1 span{
    color: #8257e6;
  }

  .first p{
    text-align: center;
    color: #828282;
    padding: 20px 0px;
  }

  .botoes{
    display: flex;
    justify-content: center;
    gap: 18px;
  }
  .botao{
    display: flex;
    justify-content: center;
    padding: 10px 0px;
  }
  button {
    position: relative;
    padding: 1em 1.8em;
    outline: none;
    border: 1px solid #303030;
    background: #13131f;
    color: #8257e6;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
   }
   
   button:hover {
    box-shadow: 0 0 10px #8257e6, 0 0 25px #001eff, 0 0 50px #8257e6;
    transition-delay: 0.6s;
   }
   
   button span {
    position: absolute;
   }
   
   button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #8257e6);
   }
   
   button:hover span:nth-child(1) {
    left: 100%;
    transition: 0.7s;
   }
   
   button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #001eff);
   }
   
   button:hover span:nth-child(3) {
    right: 100%;
    transition: 0.7s;
    transition-delay: 0.35s;
   }
   
   button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #8257e6);
   }
   
   button:hover span:nth-child(2) {
    top: 100%;
    transition: 0.7s;
    transition-delay: 0.17s;
   }
   
   button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #001eff);
   }
   
   button:hover span:nth-child(4) {
    bottom: 100%;
    transition: 0.7s;
    transition-delay: 0.52s;
   }
   
   button:active {
    background: #8257e6;
    background: linear-gradient(to top right, #8257e6, #001eff);
    color: #bfbfbf;
    box-shadow: 0 0 8px #8257e6, 0 0 8px #001eff, 0 0 8px #8257e6;
    transition: 0.1s;
   }
   
   button:active span:nth-child(1) 
   span:nth-child(2) 
   span:nth-child(2) 
   span:nth-child(2) {
    transition: none;
    transition-delay: none;
   }
   

  .segund h1{
    color: white;
    font-size: 2em;
    text-align: center;
    padding: 20px 0px;
  }

  .segund p{
    color: #828282;
    text-align: justify;
    font-size: 0.9em;
    margin: 0 auto;
    padding: 0 15px;
  }


.third h1{
  color: white;
  font-size: 2em;
  text-align: center;
  padding: 20px 0px;
}

h1#title{
  color: white;
  font-size: 2em;
  text-align: center;
  padding: 50px 0px;
}

.allskills{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  padding: 50px 0px;
}

.allskills h1{
  font-size: 1em;
  color: #8257e6;
  font-weight: 900;
}

.allskills img{
  display: block;
  margin: 0 auto;
}

.third div#skills{
  width: 140px;
  height: 150px;
  background: #212121;
  border-bottom: 4px solid #8257e6;
  border-radius: 30px 0px 0px 0px;
  box-sizing: border-box;
  transition: transform 0.2s ease-out;
}
.third div#skills:hover{
  transform: scale(1.1) translateZ(30px);
}

/* Define a animação */

.allskills > div {
  animation: slide-in 1s ease-out forwards;
  transform: translateX(0%);
}

.allskills {
  display: flex;
  justify-content: center;
  opacity: 0;
  transform: translateX(-20%);
  transition: opacity .5s ease-out, transform .5s ease-out;
}

.allskills.visible {
  opacity: 1;
  transform: translateY(0%);
}


.projetos h2{
  color: white;
  margin: 50px 0px;
  margin-left: 20px;
  max-width: 90px;
  border-bottom: 4px solid #8257e6;
  animation: slide 0.5s ease ;
}

.destaques{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}


.destaques img{
  display: block;
  width: 100%;
  margin: 0 auto;
  max-width: 330px;
  filter: brightness(0.4);
  cursor: pointer;
}

a{
  text-decoration: none;
}

.destaques img:hover{
  filter: brightness(1);
}
.destaque-img h1:hover{
  filter: brightness(1);
}

.tecnologias img:hover{
  filter: brightness(1);
}

.borda{
  display: block;
  margin: 0 auto;
  filter: brightness(1);
  width: 330px;
  height: 5px;
  background-color: #9161ff;
  animation: slide 0.5s ease ;
}

.principal{
  transition: transform 0.5s ease-out;
  animation: slide 0.5s ease;
}


@keyframes slide{
  from{
    opacity: 0;
    transform: translateX(-20%);
  }

  to{
    opacity: 1;
    transform: translate(0%);
  }
}

.principal:hover {
  transform: scale(1.1) translateZ(30px); /* Amplia e move a imagem para a frente ao passar o mouse sobre ela */
}

.destaque-img h1{
color: white;
text-align: center;
position: absolute;
transform: translate(-50%,300%);
left: 50%;
z-index: 1;
}

.tecnologias{
  display: flex;
  justify-content: space-around;
  max-width: 100px;
  margin: 0 auto;
}

.tecnologias img{
  width: 20px;
  filter: brightness(1.1);
  position: relative;
  transform: translateY(670%);
  z-index: 1;
}

.icon{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contatos{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
}

.last-title{
  margin-top: 55px;
}
.contatos h1{
  text-align: center;
  color: white;
  font-size: 2em;
  padding: 25px 0px;
}

.contatos p{
  text-align: center;
  color: #828282;
  font-size: 1em;
  padding: 20px 0px;

}

#icon{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #212121;
  font-size: 3em;
  color: #8257e6;
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
}

div#contact{
  transition: transform 0.2s ease-out;
}

div#contact:hover{
  transform: scale(1.1) translateZ(30px);
}

.allcontacts{
  animation: slide 0.5s ease ;
}
/* Animação*/

[data-anime]{
  opacity: 0;
  transition: .5s;
}

[data-anime="left"]{
  transform: translateX(-20%);
}

[data-anime].animate{
  opacity: 1;
  transform: translateX(0%);
}

@media screen and (min-width: 690px) {
  .destaque-img h1{
    position: relative;
    transform: translate(-50%,370%);
    }

    .contatos{
      display: flex;
      flex-direction: none;
      flex-wrap: wrap;
    }

}